.link {
    margin-left: 10px;
    opacity: 1;
    color: var(--inverted-primary-color);
    text-decoration: none;
}

.icon {
    fill: var(--inverted-primary-color);
}

.item {
    display: flex;
    align-items: center;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
    }
}
