.ProfilePage {
    width: 100%;
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: 30px;
}

.input {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
