.app_dark_theme {
    --bg-color: #00005f;
    --primary-color: green;
    --secondary-color: #29be29;
    --inverted-bg-color: #e8e1c0;
    --inverted-primary-color: blue;
    --inverted-secondary-color: #36b2e0;
}
