.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    min-width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}
